In [ ]:
 # Pandas
  It is an inbuilt library provided with Python and is a fast, flexible and easy to use data manipulation tool.

  ## TOC:
  <a href='#dictionary'>Reading from Dictionary</a> <br>
  [Reading from a list of tuples](##tuples)

In [2]:
import pandas as pd
import numpy as np
path = '/media/anmol/Study/GITHUB/Workshop_NIT_Meghalaya/Tutorial/PANDAS/melbourne_housing/melb_data.csv'

## Reading from dictionary <a id = "dictionary"></a>

In [3]:
dic = {'Name':['Jhon','Harry','Karl','Amit'],'Age':['12','14','13','15']}
#dictionary keys as columns
dd_column = pd.DataFrame.from_dict(dic)
dd_column

    Name Age
0   Jhon  12
1  Harry  14
2   Karl  13
3   Amit  15

In [4]:
#dictionary keys as columns
dd_rows = pd.DataFrame.from_dict(dic,orient='index',columns=['C1','C2','C3','C4'])
dd_rows

        C1     C2    C3    C4
Name  Jhon  Harry  Karl  Amit
Age     12     14    13    15

## Reading from a list of tuples <a id = "tuples"></a>
-> Using DataFrame <br>
-> Using from_records() <br>
-> using from_items() <br>

In [27]:
tup = [
        ('Jhon',12),
        ('Jayson',13),
        ('Harry',16),
        ('Amit',17)
        ]

#Using DataFrame
tupD = pd.DataFrame(tup, columns = ['Name','Age'])
tupD

     Name  Age
0    Jhon   12
1  Jayson   13
2   Harry   16
3    Amit   17

In [29]:
#Using from_records()
tupR = pd.DataFrame.from_records(tup,columns=['Name','Age'])
tupR

     Name  Age
0    Jhon   12
1  Jayson   13
2   Harry   16
3    Amit   17

In [37]:
#Using from_items
new_tup = [
            ('Name',['Jhon','Jayson','Harry','Amit']),
            ('Age',[12,13,16,17]),
            ]
tupI = pd.DataFrame.from_items(new_tup)
tupI

/home/anmol/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.

     Name  Age
0    Jhon   12
1  Jayson   13
2   Harry   16
3    Amit   17

# Reading from CSV

In [6]:
df = pd.read_csv(path)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
11,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
12,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
13,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,...,1.0,1.0,195.0,NaN,NaN,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
14,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
15,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,...,1.0,2.0,238.0,97.0,1890.0,Yarra,-37.80900,144.99760,Northern Metropolitan,4019.0
16,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,...,2.0,1.0,113.0,110.0,1880.0,Yarra,-37.80560,144.99300,Northern Metropolitan,4019.0
17,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,...,1.0,1.0,138.0,105.0,1890.0,Yarra,-37.80210,144.99650,Northern Metropolitan,4019.0
18,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,...,1.0,0.0,183.0,NaN,NaN,Yarra,-37.80220,144.99750,Northern Metropolitan,4019.0
19,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,...,1.0,1.0,150.0,73.0,1985.0,Yarra,-37.80110,145.00040,Northern Metropolitan,4019.0
20,Abbotsford,3/72 Charles St,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,...,2.0,2.0,780.0,135.0,1900.0,Yarra,-37.80730,144.99520,Northern Metropolitan,4019.0
21,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,...,2.0,2.0,0.0,NaN,2010.0,Yarra,-37.80930,144.99590,Northern Metropolitan,4019.0
22,Abbotsford,138/56 Nicholson St,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,...,2.0,2.0,4290.0,27.0,NaN,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
23,Abbotsford,6/219 Nicholson St,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,...,1.0,1.0,0.0,60.0,1970.0,Yarra,-37.80150,144.99720,Northern Metropolitan,4019.0
24,Abbotsford,52a William St,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,...,2.0,1.0,124.0,135.0,2013.0,Yarra,-37.80790,144.99770,Northern Metropolitan,4019.0
25,Abbotsford,49 Park St,2,h,1315000.0,S,Marshall,19/11/2016,2.5,3067.0,...,1.0,0.0,147.0,85.0,1900.0,Yarra,-37.80800,144.99400,Northern Metropolitan,4019.0
26,Abbotsford,5/20 Abbotsford St,1,u,426000.0,SP,Greg,22/08/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
27,Abbotsford,48 Abbotsford St,3,h,1447500.0,PI,Nelson,22/08/2016,2.5,3067.0,...,3.0,1.0,166.0,174.0,2012.0,Yarra,-37.80170,145.00010,Northern Metropolitan,4019.0
28,Abbotsford,116/56 Nicholson St,1,u,457000.0,S,Jellis,22/08/2016,2.5,3067.0,...,1.0,1.0,0.0,50.0,NaN,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
29,Abbotsford,159 Park St,2,h,1135000.0,S,Nelson,22/08/2016,2.5,3067.0,...,2.0,2.0,98.0,128.0,1920.0,Yarra,-37.80050,144.99520,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13550,Sunshine North,5 Berkshire Rd,3,h,595000.0,SP,Barry,26/08/2017,10.5,3020.0,...,1.0,NaN,589.0,NaN,NaN,NaN,-37.76599,144.84445,Western Metropolitan,4217.0
13551,Sunshine West,24 Hilma St,4,h,682000.0,S,Barry,26/08/2017,10.5,3020.0,...,1.0,2.0,534.0,NaN,1970.0,NaN,-37.79161,144.80461,Western Metropolitan,6763.0
13552,Sunshine West,16 Mudford St,3,h,640000.0,S,Bells,26/08/2017,10.5,3020.0,...,1.0,1.0,616.0,NaN,NaN,NaN,-37.79798,144.81529,Western Metropolitan,6763.0
13553,Surrey Hills,20 Albert Cr,4,h,2720000.0,S,Kay,26/08/2017,10.2,3127.0,...,3.0,2.0,1005.0,NaN,1920.0,NaN,-37.82421,145.10352,Southern Metropolitan,5457.0
13554,Surrey Hills,46 Durham Rd,3,h,1715000.0,S,Noel,26/08/2017,10.2,3127.0,...,1.0,2.0,438.0,151.0,1906.0,NaN,-37.83015,145.09035,Southern Metropolitan,5457.0
13555,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26/08/2017,10.2,3127.0,...,2.0,3.0,832.0,NaN,NaN,NaN,-37.83564,145.10919,Southern Metropolitan,5457.0
13556,Tarneit,27 McMahon Cr,3,h,350000.0,VB,S&L,26/08/2017,18.4,3029.0,...,1.0,1.0,466.0,103.0,2003.0,NaN,-37.86744,144.65609,Western Metropolitan,10160.0
13557,Templestowe,10 Hathaway Cl,4,h,1753000.0,S,Barry,26/08/2017,15.5,3106.0,...,2.0,2.0,689.0,NaN,2012.0,NaN,-37.76673,145.16555,Eastern Metropolitan,6202.0
13558,Templestowe Lower,20 Airds Rd,4,h,1745000.0,S,RT,26/08/2017,12.4,3107.0,...,2.0,2.0,741.0,NaN,NaN,NaN,-37.75843,145.10888,Eastern Metropolitan,5420.0
13559,Templestowe Lower,16 Benambra Dr,3,h,1190000.0,S,hockingstuart,26/08/2017,12.4,3107.0,...,1.0,1.0,723.0,NaN,NaN,NaN,-37.76684,145.11309,Eastern Metropolitan,5420.0
13560,Templestowe Lower,50 Caroline Dr,5,h,1400000.0,S,Barry,26/08/2017,12.4,3107.0,...,3.0,2.0,717.0,310.0,1963.0,NaN,-37.76630,145.11320,Eastern Metropolitan,5420.0
13561,Templestowe Lower,7 Dove Ct,4,h,1288000.0,S,Barry,26/08/2017,12.4,3107.0,...,2.0,2.0,948.0,NaN,NaN,NaN,-37.76078,145.10696,Eastern Metropolitan,5420.0
13562,Thornbury,7 Ballantyne St,3,h,1450000.0,S,Woodards,26/08/2017,7.0,3071.0,...,1.0,1.0,312.0,NaN,NaN,NaN,-37.75870,144.99966,Northern Metropolitan,8870.0
13563,Thornbury,201 Gooch St,3,h,1271000.0,S,Nelson,26/08/2017,7.0,3071.0,...,1.0,2.0,470.0,151.0,1950.0,NaN,-37.75937,145.01534,Northern Metropolitan,8870.0
13564,Tullamarine,7 Londrew Ct,3,h,540000.0,S,Barry,26/08/2017,12.9,3043.0,...,1.0,1.0,607.0,102.0,1970.0,NaN,-37.69423,144.88002,Western Metropolitan,3296.0
13565,Vermont,73 Nurlendi Rd,4,h,1263500.0,S,Barry,26/08/2017,17.2,3133.0,...,2.0,2.0,791.0,NaN,NaN,NaN,-37.84467,145.19276,Eastern Metropolitan,4181.0
13566,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26/08/2017,17.2,3133.0,...,2.0,2.0,986.0,NaN,NaN,NaN,-37.84679,145.20051,Eastern Metropolitan,4280.0
13567,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26/08/2017,8.9,3084.0,...,3.0,3.0,696.0,NaN,NaN,NaN,-37.73501,145.08341,Eastern Metropolitan,2698.0
13568,Wantirna,16 chesterfield Ct,4,h,951000.0,S,Ray,26/08/2017,14.7,3152.0,...,2.0,2.0,704.0,200.0,1981.0,NaN,-37.85639,145.23536,Eastern Metropolitan,5424.0
13569,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,551.0,NaN,NaN,NaN,-37.87608,145.22390,Eastern Metropolitan,7082.0
13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
13571,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,717.0,191.0,1980.0,NaN,-37.86887,145.22116,Eastern Metropolitan,7082.0
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,...,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,3030.0,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [7]:
df.shape

(13580, 21)

# Reteriving a row from the dataset

In [8]:
df.loc[2]

Suburb                      Abbotsford
Address                   5 Charles St
Rooms                                3
Type                                 h
Price                        1.465e+06
Method                              SP
SellerG                         Biggin
Date                         4/03/2017
Distance                           2.5
Postcode                          3067
Bedroom2                             3
Bathroom                             2
Car                                  0
Landsize                           134
BuildingArea                       150
YearBuilt                         1900
CouncilArea                      Yarra
Lattitude                     -37.8093
Longtitude                     144.994
Regionname       Northern Metropolitan
Propertycount                     4019
Name: 2, dtype: object

In [9]:
df.iloc[2]

Suburb                      Abbotsford
Address                   5 Charles St
Rooms                                3
Type                                 h
Price                        1.465e+06
Method                              SP
SellerG                         Biggin
Date                         4/03/2017
Distance                           2.5
Postcode                          3067
Bedroom2                             3
Bathroom                             2
Car                                  0
Landsize                           134
BuildingArea                       150
YearBuilt                         1900
CouncilArea                      Yarra
Lattitude                     -37.8093
Longtitude                     144.994
Regionname       Northern Metropolitan
Propertycount                     4019
Name: 2, dtype: object

# Difference between loc and iloc
loc gets rows with particular labels whereas iloc gets rows at integer locations

In [10]:
s = pd.Series(list("pqrst"), index=[9,8,2,0,1])
s

9    p
8    q
2    r
0    s
1    t
dtype: object

In [11]:
s.loc[0]

's'

In [12]:
s.iloc[0]

'p'

# Reteriving a column from the dataset

In [13]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [14]:
df["Suburb"]

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

# Displaying head and tail of dataset
Default: 5 rows

In [15]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [16]:
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

In [17]:
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [18]:
df.tail(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
13571,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,717.0,191.0,1980.0,NaN,-37.86887,145.22116,Eastern Metropolitan,7082.0
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,...,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,3030.0,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

# Working wit missing data
NaN and None are treated as equal and used interchangebly

In [19]:
df.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13550,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,True,True,False,False,False,False
13551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13552,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13553,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13554,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13555,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13556,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13557,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13558,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13559,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13560,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13561,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13562,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13564,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13565,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13566,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13567,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13568,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13569,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13570,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13571,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13572,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13573,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13574,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [20]:
#drop along column
dc = df.dropna(axis=1)
dc.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Landsize',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [21]:
dc.shape

(13580, 17)

In [22]:
#drop along rows
dr = df.dropna(axis=0)
dr.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [23]:
dr.shape

(6196, 21)

# Handeling Missing Data

-> isnull(): Generate a boolean mask indicating missing values<br>
-> notnull(): Opposite of isnull()<br>
-> dropna(): Return a filtered version of the data<br>
-> fillna(): Return a copy of the data with missing values filled or imputed.

In [24]:
df1 = pd.DataFrame(df['CouncilArea'])
df1.fillna(method = 'ffill')

       CouncilArea
0            Yarra
1            Yarra
2            Yarra
3            Yarra
4            Yarra
...            ...
13575  Maribyrnong
13576  Maribyrnong
13577  Maribyrnong
13578  Maribyrnong
13579  Maribyrnong

[13580 rows x 1 columns]

In [25]:
df1.fillna(method='bfill')

      CouncilArea
0           Yarra
1           Yarra
2           Yarra
3           Yarra
4           Yarra
...           ...
13575         NaN
13576         NaN
13577         NaN
13578         NaN
13579         NaN

[13580 rows x 1 columns]